

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <ul class="nav">
        {% if request.user.is_authenticated %}
          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="{% url 'index' %}">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="{% if 'segmentation' in segment %} active {% endif %}">
            <a href="{% url 'segmentation' %}">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>Segmentation</p>
            </a>
          </li>
          <li class="{% if 'result' in segment %} active {% endif %}">
            <a href="{% url 'segmentationresult' %}">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>Result</p>
            </a>
          </li>
          <li class="{% if 'tables' in segment %} active {% endif %}">
            <a href="{% url 'tables' %}">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>Tables</p>
            </a>
          </li>
          <li class="{% if 'user-profile' in segment %} active {% endif %}">
            <a href="{% url 'user-profile' %}">
              <i class="tim-icons icon-single-02"></i>
              <p>User Profile</p>
            </a>
          </li>
          <li>
            <a href="{% url 'logout' %}" >
              <i class="tim-icons icon-button-power"></i>
              <p>Logout</p>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
